@import url("https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700");
:root {
  --color-primario: #003554;
  --color-secundario: #006494;
  --color-extra: #0582ca;
  --color-texo: #ffffff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #eee;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}
.container {
  min-height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(76, 216, 255, 0.8),
      rgba(30, 108, 217, 0.8)
    ),
    url("https://universidadeuropea.com/resources/media/images/contabilidad_publica_privada_1200x630.original.jpg");

  background-size: cover;
  background-position: top;
}

.header {
  height: 100%;
}

.header-container {
  display: flex;
}
.main {
  flex: 1;
}

.brand-box {
  padding: 10px;
  padding-top: 1%;
}

.brand {
  font-size: 20px;
}

.text-box {
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading-primary-main {
  display: block;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 5px;
}

.heading-primary-sub {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}
.form-btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.list-btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 155px;
}



.form-btn-container {
  display: flex;
  justify-content: center;
}
.form-btn-container.btnCreateClient{
 margin-top: 20px;
}

.form-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
  font-size: 14px;
}

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.cards-home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 4%;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: "Heebo";
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: var(--color-primario);
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: "Open Sans";
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
  justify-content: center;
}

.card .tags .tag {
  font-size: 0.75em;
  color: var(--color-primario);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color-primario);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: 0.8;
}

.card:before,
.card:after {
  content: "";
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: var(--color-primario);
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color-primario);
}

.card:hover:before,
.card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}



a {
  text-decoration: none;
  color: inherit;
}

.text-header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.button-17.mainButton {
  font-size: 55px;
  font-weight: 500;
  height: 125px;
}

.button-17.clientListButton {
  font-size: 15px;
  height: 30px;
}

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  color: var(--color-extra);
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 25px;
  font-weight: 600;
  height: 55px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.button-17:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.create-client-button-container {
  display: flex;
  justify-content: center;
  margin: 35px;
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.form {
  background-color: var(--color-primario);
  border-radius: 20px;
  box-sizing: border-box;
  height: 600px;
  padding: 20px;
  width: 50%;
}
.form-errors-expanded {
  min-height: 700px;
}
.form-errors-expanded-login {
  min-height: 475px;
}

.form-errors-expanded-create-client {
  min-height: 820px;
}
.form__login {
  background-color: var(--color-primario);
  border-radius: 20px;
  box-sizing: border-box;
  height: 420px;
  padding: 20px;
  width: 50%;
}

.form__createClient {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primario);
  border-radius: 20px;
  box-sizing: border-box;
  height: 625px;
  padding: 20px;
  width: 50%;
}

.form__createInvoice {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--color-primario);
  border-radius: 20px;
  box-sizing: border-box;
  height: 440px;
  padding: 20px;
  width: 50%;
}

.form-title {
  color: var(--color-texo);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: white;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: var(--color-texo);
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

.error {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: red;
  font-weight: 300;
}

.clientList-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid var(--color-primario) 2px;
  padding: 15px;
  margin: 20px;
  background-color: var(--color-primario);
}

.no-content {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: var(--color-extra);
}

.list-elements-large{
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
}

.list-elements{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}


@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 992px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
  .form{
    width: 90%;
  }
  .form-title{
    font-size: 30px;
  }
  .form__login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
  }

  .main-container{
    flex-direction: column;
  }

  .form__createClient{
    width: 75%;
  }

  .clientList-container {
    width: 95%; 
    margin: 10px auto; 
    padding: 10px;
    gap: 15px;
  }
}

@media screen and (max-width: 780px) {
  .form-title{
    font-size: 25px;
  }

  

}

@media screen and (max-width: 600px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
  .form__login{
    width: 85%;
  }
  .form__createClient{
    width: 95%;
  }

 
}

@media screen and (max-width: 480px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  } 

  .heading-primary-main{
    font-size: 25px;
  }
  .heading-primary-sub{
    font-size: 14px;
  }
  .brand-box{
    padding-top: 5%;
  }
  .form-title{
    font-size: 25px;
    text-align: center;
  }
  .input{
    width: 95%;
    height: 75%;
  }
  .input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form__login{
    width: 100%;
  }

  .error{
    text-align: center;
  }

  .card{
    height: 16em;
    width: 12em;
    margin-bottom: 10%;
  }
  .form__createClient{
    width: 100%;
  }

  .clientList-container {
    width: 90%; 
    gap: 0px;
  }
  .list-elements-large{
    font-size: 15px;
    flex: 0;
  }
  .list-elements{
    flex: 0;
    font-size: 15px;
  }
  .list-elements a{
    width: 65px;
    font-size: 12px;
  }
  .list-elements button{
    font-size: 12px;
    width: 72px;
  }
}

@media screen and (max-width: 375px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }

  .clientList-container {
    width: 95%; 
  }

  .list-elements-large{
    font-size: 12px;
  }
  .list-elements{
    font-size: 12px;
  }
  .list-elements a{
    width: 65px;
    font-size: 12px;
  }
  .list-elements button{
    font-size: 12px;
    width: 72px;
  }

}

  @media screen and (max-width: 360px) {
    .info {
      display: block;
      text-align: center;
    }
    .info h1 {
      margin: 0;
    } 

    .input{
      height: 65%;
      font-size: 15px;
    }


  }